body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #121212;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #5A9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #46A3A3;
}

#image-container img {
    max-width: 100%;
    height: auto;
}
